@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow-button {
  transition: box-shadow 0.3s ease-in-out;
}

.glow-button:hover {
  box-shadow: 0 0 15px 5px rgba(255, 165, 0, 0.6); /* Lueur orange */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9; /* Ajustement du fond pour une meilleure lisibilité */
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

#root {
  flex: 1;
  width: 100%; /* Assurez-vous que le root occupe toute la largeur */
}

footer {
  margin-top: auto;
}

.hero {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #ddd !important;
}

footer p {
  margin: 0;
}

.notification {
  z-index: 1000;
}

nav {
  transition: all 0.3s ease;
}

nav.bg-opacity-90 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}


/* Variables globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Pour que le site s'étende sur toute la largeur */
.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
